@using MvcStok.Models.Entity
@model List<TblMusteriler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MÜŞTERİ ID</th>
        <th>MÜŞTERİ ADI</th>
        <th>MÜŞTERİ SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>

    </tr>
    <tbody>
        @foreach (var mstr in Model)
        {
        <tr>
            <th>@mstr.MusteriId</th>
            <td>@mstr.MusteriAd</td>
            <td>@mstr.MusteriSoyad</td>
            <td><a href="/Musteri/SİL/@mstr.MusteriId" class="btn btn-danger">SİL</a></td>
            <td><a href="/Musteri/MusteriGetir/@mstr.MusteriId" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>
